<!-- Modal Cadastro -->
<div
  class="modal fade"
  id="municipioExibirModal"
  tabindex="-1"
  aria-labelledby="municipioExibirModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form #municipioExibirModal="ngForm" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Municipios</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="w-100 table row-border hover" id="produtos-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th class="centerTable">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of municipioLista">
                <td>{{ item.id }}</td>
                <td>{{ item.descricao }}</td>
                <td class="acoesStyle">
                  <button
                    class="btn btn-dark m-1"
                    data-bs-dismiss="modal"
                    (click)="onSubmitMunicipioEmpresa(item.id)"
                  >
                    <span class="acaoStyle">Selecionar</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
