<div class="m-2">
  <p class="fs-22 bolder">Configurações de Acessos</p>

  <form
    #cadastroPerfilUsuario="ngForm"
    (ngSubmit)="onSubmit(cadastroPerfilUsuario.value)"
    enctype="multipart/form-data"
  >
    <div class="form-group inline-length-20">
      <label for="TiposPessoas">Configurar Acesso</label>
      <select
        class="form-control"
        name="TiposPessoas"
        id="TiposPessoas"
        #TipoDocumento
      >
        <option *ngFor="let item of acessoUsuario" [value]="item.i">
          {{ item.descricao }}
        </option>
      </select>
    </div>

    <div class="form-group inline-length-10">
      <label for="TiposPessoas">Menu</label>
      <select
        class="form-control"
        name="TiposPessoas"
        id="TiposPessoas"
        #TipoDocumento
      >
        <option *ngFor="let item of menu" [value]="item.i">
          {{ item.descricao }}
        </option>
      </select>
    </div>

    <div class="form-group inline-length-20">
      <label for="Descricao">Nome do Perfil de Usuários</label>
      <input
        type="text"
        class="form-control w-100"
        name="Descricao"
        id="Descricao"
        #Descricao
        ngModel
      />
    </div>

    <input type="submit" class="btn btn-primary mt-4 m-1" value="Salvar" />
    <button
      type="button"
      (click)="retornar()"
      class="btn btn-secondary mt-4 m-1"
    >
      Cancelar
    </button>
  </form>
</div>
