<div class="m-2">
  <p class="fs-22 bolder">Pedido de Venda</p>

  <form>
    <tabset class="member-tabset">
      <tab class="tab" heading="Identificação">
        <h2>{{ dados.descricaoProduto }}</h2>
        <h5>Em: {{ dataDaVenda }}</h5>

        <h6 id="vendidoPor">Vendido por: {{ dadosVendedor.nome }}</h6>
        <h6>
          Adquirido por: {{ dadosCliente.nome }} ({{ dadosCliente.documento }})
        </h6>
        <h6>ID da venda: {{ dados.id }}</h6>
        <h6>ID do produto: {{ dados.produtoID }}</h6>
        <h6>Tipo de fatura: {{ dadosOperacao.descricao }}</h6>
      </tab>
      <tab class="tab" heading="Itens do Pedido">
        <table class="w-100 table row-border hover" id="produtos-table">
          <thead>
            <tr>
              <th class="centerTable">Produto</th>
              <th class="centerTable">Unitário</th>
              <th class="centerTable">Quantidade</th>
              <th class="centerTable">Desconto</th>
              <th class="centerTable">Acrescimo</th>
              <th class="centerTable">Frete</th>
              <th class="centerTable">Despesas</th>
              <th class="centerTable">Seguro</th>
              <th class="centerTable">Subtotal</th>
              <th class="centerTable">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="centerTable">{{ dados.descricaoProduto }}</td>
              <td class="centerTable">{{ dados.precoUnitario }}</td>
              <td class="centerTable">{{ dados.quantidade }}</td>
              <td class="centerTable">{{ dados.desconto }}</td>
              <td class="centerTable">{{ dados.acrescimo }}</td>
              <td class="centerTable">{{ dados.frete }}</td>
              <td class="centerTable">{{ dados.outrasDespesas }}</td>
              <td class="centerTable">{{ dados.seguro }}</td>
              <td class="centerTable">{{ dados.subTotal }}</td>
              <td class="centerTable">{{ dados.totalFinal }}</td>
            </tr>
          </tbody>
        </table></tab
      >
      <tab class="tab" heading="Forma de Pagamento">
        <table class="w-100 table row-border hover" id="produtos-table">
          <thead>
            <tr>
              <th class="centerTable">#</th>
              <th class="centerTable">Descrição</th>
              <th class="centerTable">Dias intervalo</th>
              <th class="centerTable">Periodicidade de pagamentos</th>
              <th class="centerTable">Periodo</th>
              <th class="centerTable">Quantidade de parcelas</th>
              <th class="centerTable">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of formasDePagamento">
              <td class="centerTable">{{ item.id }}</td>
              <td class="centerTable">{{ item.descricao }}</td>
              <td class="centerTable">{{ item.diasIntervalo }}</td>
              <td class="centerTable">{{ item.peridiocidadePagamento }}</td>
              <td class="centerTable">{{ item.periodo }}</td>
              <td class="centerTable">{{ item.quantidadeParcelas }}</td>
              <td class="acoesStyle">
                <button class="btn btn-dark m-1">
                  <span class="acaoStyle"
                    ><fa-icon [icon]="faCheck"></fa-icon> Selecionar</span
                  >
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab class="tab" heading="Dados Adicionais">
        <textarea
          name="dadosAdicionais"
          id="dadosAdicionais"
          #dadosAdicionais
        ></textarea>
      </tab>
    </tabset>

    <input type="submit" class="btn btn-primary mt-4 m-1" value="Salvar" />
    <button (click)="retornar()" class="btn btn-secondary mt-4 m-1">
      Cancelar
    </button>
  </form>
</div>
