<div class="m-4">
  <p class="fs-22 bolder">Cadastro de Clientes</p>

  <form
    #cadastroPessoa="ngForm"
    (ngSubmit)="onSubmit(cadastroPessoa.value)"
    enctype="multipart/form-data"
  >
    <tabset class="member-tabset">
      <tab class="tab" heading="Identificação">
        <div class="form-group inline-length-10">
          <label for="TiposPessoas">Adicione os Tipos do Cliente</label>
          <select
            class="form-control"
            name="TiposPessoas"
            id="TiposPessoas"
            #TipoDocumento
            (change)="add(TipoDocumento.value)"
          >
            <option *ngFor="let item of clienteTipo" [value]="item.i">
              {{ item.Nome }}
            </option>
          </select>
        </div>

        <div class="form-group inline-length-10">
          <label for="Nome">Nome</label>
          <input
            type="text"
            class="form-control w-100"
            name="Nome"
            id="Nome"
            #Nome
            ngModel
          />
        </div>

        <div class="form-group inline-length-20 d-flex">
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="clientes == true"
            (click)="remove(1)"
          >
            <span class="badge bg-dark">Cliente X</span>
          </button>
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="fornecedor == true"
            (click)="remove(2)"
          >
            <span class="badge bg-dark">Fornecedor X</span>
          </button>
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="transportadora == true"
            (click)="remove(3)"
          >
            <span class="badge bg-dark">Transportadora X</span>
          </button>
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="vendedor == true"
            (click)="remove(4)"
          >
            <span class="badge bg-dark">Vendedor X</span>
          </button>
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="contador == true"
            (click)="remove(5)"
          >
            <span class="badge bg-dark">Contador X</span>
          </button>
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="funcionario == true"
            (click)="remove(6)"
          >
            <span class="badge bg-dark">Funcionário X</span>
          </button>
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="comprador == true"
            (click)="remove(7)"
          >
            <span class="badge bg-dark">Comprador X</span>
          </button>
          <button
            type="button"
            class="btn p-0 m-0 mx-auto"
            *ngIf="motorista == true"
            (click)="remove(8)"
          >
            <span class="badge bg-dark">Motorista X</span>
          </button>
        </div>

        <div class="form-group inline-length-10">
          <label for="Documento">CPF</label>
          <input
            type="text"
            class="form-control w-100"
            name="Documento"
            id="Documento"
            #Documento
            ngModel
          />
        </div>

        <div class="form-group inline-length-10">
          <label for="RG">RG</label>
          <input
            type="text"
            class="form-control w-100"
            name="RG"
            id="RG"
            #RG
            ngModel
          />
        </div>

        <div class="form-group inline-length-10">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Masculino
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Feminino
            </label>
          </div>
        </div>

        <div class="form-check inline-length-10">
          <input
            class="form-check-input"
            type="checkbox"
            name="Ativo"
            id="Ativo"
            #Ativo
            ngModel
          />
          <label class="form-check-label" for="Ativo">Ativo?</label>
        </div>
      </tab>
      <tab class="tab" heading="Endereços">
        <button
          class="btn btn-outline-primary"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#cadastroEnderecoModal"
        >
          <fa-icon [icon]="faPlusCircle"></fa-icon> Novo Endereço</button
        ><app-endereco-criar></app-endereco-criar>
      </tab>
    </tabset>

    <button type="submit" class="btn btn-primary mt-4 m-1">Salvar</button>
    <a href="/cadastro/clientes" class="btn btn-secondary mt-4 m-1">Cancelar</a>
  </form>
</div>
