<div class="m-4">
  <p class="fs-22 bolder title">Acesso Rápido</p>
  <div class="group-cards mt-5">
    <div class="row">
      <p class="fs-18 bolder title">Cadastro</p>
      <div *ngFor="let item of cadastroItems" class="col-3 mb-5">
        <app-acessorapido
          [nome]="item.nome"
          [url]="item.url"
          [imageUrl]="item.imageUrl"
          [imageAlt]="item.imageAlt"
        ></app-acessorapido>
      </div>
    </div>

    <div class="row">
      <p class="fs-18 bolder title">Comercial</p>
      <div *ngFor="let item of comercialItems" class="col-3 mb-5">
        <app-acessorapido
          [nome]="item.nome"
          [url]="item.url"
          [imageUrl]="item.imageUrl"
          [imageAlt]="item.imageAlt"
        ></app-acessorapido>
      </div>
    </div>

    <div class="row">
      <p class="fs-18 bolder title">PDV</p>
      <div *ngFor="let item of pdvItems" class="col-3 mb-5">
        <app-acessorapido
          [nome]="item.nome"
          [url]="item.url"
          [imageUrl]="item.imageUrl"
          [imageAlt]="item.imageAlt"
        ></app-acessorapido>
      </div>
    </div>

    <div class="row">
      <p class="fs-18 bolder title">Dashboards</p>
      <div *ngFor="let item of dashboardItems" class="col-3 mb-5">
        <app-acessorapido
          [nome]="item.nome"
          [url]="item.url"
          [imageUrl]="item.imageUrl"
          [imageAlt]="item.imageAlt"
        ></app-acessorapido>
      </div>
    </div>
  </div>
</div>
