<div class="m-4">
  <p class="fs-22 bolder">Categorias</p>

  <div class="tright">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#cadastroCategoriaModal"
    >
      Nova
    </button>
  </div>

  <table class="w-100 table row-border hover" id="produtos-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Descrição</th>
        <th>Imagem</th>
        <th class="centerTable">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listacategorias; let i = index">
        <td>{{ item.id }}</td>
        <td>{{ item.descricao }}</td>
        <img
          class="img-Table"
          [src]="
            item.imagem !== null
              ? 'data:image/png;base64,' + item.imagem
              : '/assets/semimagem.jpg'
          "
        />
        <td class="acoesStyle">
          <button
            class="btn btn-success m-1 tleft"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#configuracaoCategoriaModal"
            (click)="obterId(item.id, item.descricao)"
          >
            <span class="acaoStyle"
              ><fa-icon [icon]="faCogs"></fa-icon> Editar</span
            >
          </button>
          <button
            class="btn btn-danger m-1 tright"
            type="button"
            (click)="excluirElemento(item.id)"
          >
            <span class="acaoStyle"
              ><fa-icon [icon]="faTrashAlt"></fa-icon> Excluir</span
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-categorias-criar></app-categorias-criar>
<app-categorias-modificar
  descricaoAtual="{{ descricaoAtual }}"
  idAtual="{{ idAtual }}"
  (outdata)="modificarCategoria($event)"
></app-categorias-modificar>
