.fapago {
  margin-top: -20px;
  font-size: 40px;
  color: #1ba5a5;
  transition: 0.3s;
}

.fapago:hover {
  color: #148080;
}

.faaberto {
  margin-top: -20px;
  font-size: 40px;
  color: #a51b1b;
  transition: 0.3s;
}

.faaberto:hover {
  color: #801414;
}

highcharts-chart {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

/* Copy this @keyframes block to your CSS*/
@keyframes anim {
  0.0% {
    transform: translate(-50px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

/* Add the animation: property to whichever element you want to animate */
.card {
  animation: anim 1s ease 0s normal none;
}
