<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <img src="../assets/ziplogo.png" alt="Zip Logo" class="img-logo" />
      <span class="menuUsuario"><strong>Usuário:</strong> $U</span>
    </div>

    <div class="list-group list-group-flush">
      <a
        href="acessorapido"
        class="list-group-item list-group-item-action bg-light cor-sidebar"
      >
        <fa-icon [icon]="faStarHalfAlt"></fa-icon>
        <span class="menuLink fontw-500">Acesso Rápido</span>
      </a>
      <a
        href="produtos"
        class="list-group-item list-group-item-action bg-light cor-sidebar"
      >
        <fa-icon [icon]="faCube"></fa-icon>
        <span class="menuLink fontw-500">Produtos</span>
      </a>
      <a
        href="vendas"
        class="list-group-item list-group-item-action bg-light cor-sidebar"
      >
        <fa-icon [icon]="faBookOpen"></fa-icon>
        <span class="menuLink fontw-500">Vendas</span>
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->

  <div id="page-content-wrapper">
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        bg-light
        border-bottom
        nav-size
      "
    >
      <button class="btn btn-secondary ms-2 menuStyle" id="menu-toggle">
        <fa-icon [icon]="faBars" class="menuStyle"></fa-icon>
      </button>

      <a
        href="https://www.zipsoftware.com.br"
        target="_blank"
        class="btn zip-button"
      >
        <img src="../assets/ziplogo.png" alt="Zip Logo" class="zip-logo" />
      </a>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
