<div class="m-4">
  <p class="fs-22 bolder">Movimentação de Estoque</p>
  <table class="w-100 table row-border hover" id="produtos-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Movimento</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Estoque</th>
        <th>Tipo</th>
        <th>Pedido</th>
        <th class="centerTable">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listavendas; let i = index">
        <td>{{ item.id }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.id }}</td>
        <td class="acoesStyle">
          <button
            class="btn btn-dark m-1"
            (click)="obterDetalhes(item.vendaID)"
          >
            <span class="acaoStyle"
              ><fa-icon [icon]="faEye"></fa-icon> Ver</span
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- TODO: Arrumar movimentação de estoque! -->
