<span>Alíquota Cofins: {{ detalheslista[0].aliqCofins }}</span
><br />
<span>Alíquota ICMS: {{ detalheslista[0].aliqICMS }}</span
><br />
<span>Alíquota ICMSST: {{ detalheslista[0].aliqICMSST }}</span
><br />
<span>Alíquota IPI: {{ detalheslista[0].aliqIPI }}</span
><br />
<span>Alíquota PIS: {{ detalheslista[0].aliqPIS }}</span
><br />
<span>CFOPID: {{ detalheslista[0].cfopID }}</span
><br />
<span>Cofins: {{ detalheslista[0].cofins }}</span
><br />
<span>Cstipi: {{ detalheslista[0].cstipi }}</span
><br />
<span>Descrição: {{ detalheslista[0].descricao }}</span
><br />
<span>Frete: {{ detalheslista[0].frete }}</span
><br />
<span>ICMS: {{ detalheslista[0].icms }}</span
><br />
<span>ID: {{ detalheslista[0].id }}</span
><br />
<span>ICMS REDST: {{ detalheslista[0].imcs_RedST }}</span
><br />
<span>MVA: {{ detalheslista[0].mva }}</span
><br />
<span>Outras despesas: {{ detalheslista[0].outrasDespesas }}</span
><br />
<span>Credito SN: {{ detalheslista[0].perCreditoSN }}</span
><br />
<span>Dif: {{ detalheslista[0].perDif }}</span
><br />
<span>PIS: {{ detalheslista[0].pis }}</span
><br />
<span>RED BC ICMS: {{ detalheslista[0].redBcIcms }}</span
><br />
<span>RED BC ICMSST: {{ detalheslista[0].redBcIcmsSt }}</span
><br />
<span>Seguro: {{ detalheslista[0].seguro }}</span
><br />
