<!-- Modal Cadastro -->
<div
  class="modal fade"
  id="cadastroCategoriaModal"
  tabindex="-1"
  aria-labelledby="cadastroCategoriaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      #cadastroCategoria="ngForm"
      (ngSubmit)="onSubmitCadastro(cadastroCategoria.value)"
      enctype="multipart/form-data"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Cadastrar categoria
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="descricao">Nome da categoria</label>
            <input
              name="descricao"
              type="text"
              class="form-control mt-1"
              id="descricao"
              ngModel
            />
          </div>
          <div class="form-check inline-child-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="HabTotem"
              id="HabTotem"
              ngModel
              required
            />
            <label class="form-check-label" for="HabTotem">Totem?</label>
          </div>
          <div class="form-check inline-child-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="HabElisa"
              id="HabElisa"
              ngModel
              required
            />
            <label class="form-check-label" for="HabElisa">Elisa?</label>
          </div>
          <div class="form-check inline-child-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="HabPdv"
              id="HabPdv"
              ngModel
              required
            />
            <label class="form-check-label" for="HabPdv">Pdv?</label>
          </div>
          <div class="form-group mt-3">
            <img
              id="img"
              #img
              name="imagem"
              class="produtoImagem preview d-flex mx-auto"
              src="{{ imageBinding }}"
              [(ngModel)]="img.src"
            />
            <hr />
            <label for="imagem">Imagem da categoria</label>
            <input
              name="imagem"
              id="imagem"
              type="file"
              accept="image/*"
              class="form-control mt-1"
              #imagem
              (change)="adicionarImagem(imagem)"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
