<!-- Modal Cadastro -->
<div
  class="modal fade"
  id="cadastroModal"
  tabindex="-1"
  aria-labelledby="cadastroModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      #cadastroCategoria="ngForm"
      (ngSubmit)="onSubmitCadastro(cadastroCategoria.value)"
      enctype="multipart/form-data"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar marca</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="descricao">Nome da marca</label>
            <input
              name="descricao"
              type="text"
              class="form-control mt-1"
              id="descricao"
              ngModel
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
