<!-- Modal Configuração -->
<div
  class="modal fade"
  id="configuracaoCategoriaModal"
  #configuracaoCategoriaModal
  tabindex="-1"
  aria-labelledby="configuracaoCategoriaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      #configuracaoCategoria="ngForm"
      (ngSubmit)="onSubmitConfiguracao(configuracaoCategoria.value)"
      enctype="multipart/form-data"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Editar categoria: {{ descricaoAtual }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group" hidden>
            <label for="ID">ID da categoria</label>
            <input
              name="ID"
              type="number"
              class="form-control mt-1"
              id="ID"
              #ID
              [value]="idAtual"
              [(ngModel)]="ID.value"
            />
          </div>
          <div class="form-group">
            <label for="Descricao">Nome da categoria</label>
            <input
              name="Descricao"
              type="text"
              class="form-control mt-1"
              id="Descricao"
              #Descricao
              [value]="descricaoAtual"
              [(ngModel)]="Descricao.value"
            />
          </div>
          <div class="form-check inline-length-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="HabTotem"
              id="HabTotem"
              #HabTotem
              [(ngModel)]="HabTotem.value"
            />
            <label class="form-check-label" for="HabTotem">Totem?</label>
          </div>
          <div class="form-check inline-length-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="HabElisa"
              id="HabElisa"
              #HabElisa
              [(ngModel)]="HabElisa.value"
            />
            <label class="form-check-label" for="HabElisa">Elisa?</label>
          </div>
          <div class="form-check inline-length-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="HabPdv"
              id="HabPdv"
              #HabPdv
              [(ngModel)]="HabPdv.value"
            />
            <label class="form-check-label" for="HabPdv">Pdv?</label>
          </div>
          <div class="form-group mt-3">
            <img
              id="Imagem"
              #Imagem
              name="Imagem"
              class="produtoImagem preview d-flex mx-auto"
              [src]="
                img != undefined ? 'data:image/png;base64,' + img : imageBinding
              "
              [(ngModel)]="Imagem.src"
            />
            <hr />
            <label for="imagem">Imagem da categoria</label>
            <input
              name="imagem"
              id="imagem"
              type="file"
              accept="image/*"
              class="form-control mt-1"
              #imagem
              (change)="adicionarImagem(imagem)"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
