<div class="m-4">
  <p class="fs-22 bolder">Cadastro de Produtos</p>

  <div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    [hidden]="alertSuccessState"
  >
    <strong>Pronto!</strong> Um novo produto foi cadastrado.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>

  <form
    #cadastroProduto="ngForm"
    (ngSubmit)="onSubmit(cadastroProduto.value)"
    enctype="multipart/form-data"
  >
    <tabset class="member-tabset">
      <tab class="tab" heading="Identificação">
        <div class="inline">
          <div class="form-group inline-child-5">
            <label for="Codigo">Código</label>
            <input
              type="number"
              class="form-control w-100"
              name="Codigo"
              id="Codigo"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-5">
            <label for="EAN">EAN</label>
            <input
              type="text"
              class="form-control w-100"
              name="EAN"
              id="EAN"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-10">
            <label for="Descricao">Descrição</label>
            <input
              type="text"
              class="form-control w-100"
              name="Descricao"
              id="Descricao"
              ngModel
              required
            />
          </div>
        </div>

        <div class="inline">
          <div class="form-check inline-child-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="Ativo"
              id="Ativo"
              ngModel
              required
            />
            <label class="form-check-label" for="Ativo">Ativo?</label>
          </div>

          <div class="imageContainer">
            <div class="form-group">
              <img
                id="img"
                #img
                name="imagem"
                class="produtoImagem"
                [src]="imageBinding"
                [(ngModel)]="img.src"
              />
              <div>
                <label for="file" class="btn"
                  >Adicionar uma <strong class="underline">imagem</strong> ao
                  produto</label
                >
                <input
                  name="file"
                  id="file"
                  type="file"
                  accept="image/*"
                  hidden
                  #file
                  (change)="adicionarImagem(file)"
                />
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab class="tab" heading="Classificação"
        ><div class="inline">
          <div class="form-group inline-child-10">
            <label for="UnidadeMedidaID">Unidade de medida</label>
            <div>
              <select
                class="form-control"
                name="UnidadeMedidaID"
                id="UnidadeMedidaID"
                ngModel
                required
              >
                <option value="1">UN</option>
                <option value="2">KG</option>
                <option value="3">L</option>
                <option value="4">CX</option>
                <option value="5">PCT</option>
                <option value="6">FD</option>
                <option value="7">M@</option>
                <option value="8">M</option>
              </select>
            </div>
          </div>

          <div class="form-group inline-child-10">
            <label for="CategoriaID">Categoria</label>
            <div class="inline">
              <select
                class="form-control"
                name="CategoriaID"
                id="CategoriaID"
                ngModel
                required
              >
                <option
                  *ngFor="let categoria of categorias; let i = index"
                  value="{{ i + 2 }}"
                >
                  {{ categoria.descricao }}
                </option></select
              ><button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#cadastroCategoriaModal"
                class="btn btn-primary"
              >
                +
              </button>
            </div>
          </div>
        </div>

        <div class="inline">
          <div class="form-group inline-child-20">
            <label for="MarcaID">Marca</label>
            <div class="inline">
              <select
                class="form-control"
                name="MarcaID"
                id="MarcaID"
                ngModel
                required
              >
                <option
                  *ngFor="let marca of marcas; let i = index"
                  value="{{ i + 2 }}"
                >
                  {{ marca.descricao }}
                </option>
              </select>
              <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#cadastroMarcaModal"
                class="btn btn-primary"
              >
                +
              </button>
            </div>
          </div>
        </div></tab
      >
      <tab class="tab" heading="Estoque"
        ><div class="inline">
          <div class="form-group inline-child-8">
            <label for="TipoProdutoID">Tipo do produto</label>
            <select
              class="form-control"
              name="TipoProdutoID"
              id="TipoProdutoID"
              ngModel
              required
            >
              <option value="1">Materia Prima</option>
              <option value="2">Produto Acabado</option>
            </select>
          </div>

          <div class="form-group inline-child-3">
            <label for="ValorCompra">Valor compra</label>
            <input
              type="number"
              class="form-control w-100"
              name="ValorCompra"
              id="ValorCompra"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-3">
            <label for="ValorVenda">Preço</label>
            <input
              type="number"
              class="form-control w-100"
              name="ValorVenda"
              id="ValorVenda"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-3">
            <label for="ValorVendaPrazo">Preço a prazo</label>
            <input
              type="number"
              class="form-control w-100"
              name="ValorVendaPrazo"
              id="ValorVendaPrazo"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-3">
            <label for="SaldoEstoque">Estoque</label>
            <input
              type="number"
              class="form-control w-100"
              name="SaldoEstoque"
              id="SaldoEstoque"
              ngModel
              required
            />
          </div>
        </div>
        <div class="inline">
          <div class="form-group inline-child-5">
            <label for="EstoqueMinimo">Estoque minímo</label>
            <input
              type="number"
              class="form-control w-100"
              name="EstoqueMinimo"
              id="EstoqueMinimo"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-5">
            <label for="EstoqueMaximo">Estoque máximo</label>
            <input
              type="number"
              class="form-control w-100"
              name="EstoqueMaximo"
              id="EstoqueMaximo"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-5">
            <label for="PesoLiquido">Peso liq.</label>
            <input
              type="number"
              class="form-control w-100"
              name="PesoLiquido"
              id="PesoLiquido"
              ngModel
              required
            />
          </div>

          <div class="form-group inline-child-5">
            <label for="PesoBruto">Peso brut.</label>
            <input
              type="number"
              class="form-control w-100"
              name="PesoBruto"
              id="PesoBruto"
              ngModel
              required
            />
          </div>
        </div>

        <div class="inline">
          <div class="form-check inline-child-5">
            <input
              class="form-check-input"
              type="checkbox"
              name="EstoqueNegativo"
              id="EstoqueNegativo"
              ngModel
              required
            />
            <label class="form-check-label" for="EstoqueNegativo"
              >Estoque negativo?</label
            >
          </div>
          <div class="form-check inline-child-4">
            <input
              class="form-check-input"
              type="checkbox"
              name="ParaVender"
              id="ParaVender"
              ngModel
              required
            />
            <label class="form-check-label" for="ParaVender"
              >Para vender?</label
            >
          </div>
        </div></tab
      >
      <tab class="tab" heading="Tributos"
        ><div class="inline">
          <div class="form-group inline-child-10">
            <label for="ProdutoIntegracaoFiscalID">Integração fiscal</label>
            <div class="inline">
              <select
                class="form-control"
                name="ProdutoIntegracaoFiscalID"
                id="ProdutoIntegracaoFiscalID"
                ngModel
                required
              >
                <option
                  *ngFor="let iF of integracaofiscal; let i = index"
                  value="{{ i + 2 }}"
                >
                  {{ iF.descricao }}
                </option></select
              ><a
                href="/cadastro/integracaofiscal/cadastrar"
                target="_blank"
                class="btn btn-primary"
              >
                +
              </a>
            </div>
          </div>
          <div class="form-group inline-child-10">
            <label for="Cest">Cest</label>
            <input
              type="text"
              class="form-control w-100"
              name="Cest"
              id="Cest"
              ngModel
              required
            />
          </div>
          <div class="form-group inline-child-10">
            <label for="NcmID">NCM</label>
            <select
              class="form-control"
              name="NcmID"
              id="NcmID"
              ngModel
              required
            >
              <option
                *ngFor="let ncm of ncms; let i = index"
                value="{{ i + 2 }}"
              >
                {{ ncm.descricao }}
              </option>
            </select>
          </div>
          <div class="form-group inline-child-10">
            <label for="OrigemID">Origem do produto</label>
            <select
              class="form-control"
              name="OrigemID"
              id="OrigemID"
              ngModel
              required
            >
              <option value="0">Nacional</option>
              <option value="1">Estrangeiro</option>
            </select>
          </div>
        </div></tab
      >
    </tabset>

    <button type="submit" class="btn btn-primary mt-4 m-1">Salvar</button>
    <a href="/produtos" class="btn btn-secondary mt-4 m-1">Cancelar</a>
  </form>
</div>
<app-categorias-criar></app-categorias-criar>
<app-marcas-criar></app-marcas-criar>
