<div class="m-4">
  <p class="fs-22 bolder">Detalhes: {{ ncmDados.descricao }}</p>

  <div class="inline">
    <div class="form-group inline-length-5" hidden>
      <label for="id" class="disableMouse">ID</label>
      <input
        type="text"
        class="form-control w-100 disableMouse"
        name="id"
        id="id"
        value="{{ ncmDados.id }}"
      />
    </div>

    <div class="form-group inline-length-5">
      <label for="Codigo" class="disableMouse">Código</label>
      <input
        type="text"
        class="form-control w-100 disableMouse"
        name="Codigo"
        id="Codigo"
        value="{{ ncmDados.codigo }}"
      />
    </div>

    <div class="form-group inline-length-15">
      <label for="Descricao" class="disableMouse">Descrição</label>
      <input
        type="text"
        class="form-control w-100 disableMouse"
        name="Descricao"
        id="Descricao"
        value="{{ ncmDados.descricao }}"
      />
    </div>

    <div class="form-group inline-length-10">
      <label for="Estado" class="disableMouse">Estado</label>
      <input
        type="text"
        class="form-control w-100 disableMouse"
        name="Estado"
        id="Estado"
        value="{{ ncmDados.estado }}"
      />
    </div>

    <div class="form-group inline-length-5">
      <label for="Ex" class="disableMouse">Ex</label>
      <input
        type="number"
        class="form-control w-100 disableMouse"
        name="Ex"
        id="Ex"
        value="{{ ncmDados.ex }}"
      />
    </div>

    <div class="form-group inline-length-5">
      <label for="Tipo" class="disableMouse">Tipo</label>
      <input
        type="number"
        class="form-control w-100 disableMouse"
        name="Tipo"
        id="Tipo"
        value="{{ ncmDados.tipo }}"
      />
    </div>

    <div class="form-group inline-length-7">
      <label for="NacionalFederal" class="disableMouse">Nacional Federal</label>
      <input
        type="number"
        class="form-control w-100 disableMouse"
        name="NacionalFederal"
        id="NacionalFederal"
        value="{{ ncmDados.nacionalFederal }}"
      />
    </div>

    <div class="form-group inline-length-6">
      <label for="Estadual" class="disableMouse">Estadual</label>
      <input
        type="number"
        class="form-control w-100 disableMouse"
        name="Estadual"
        id="Estadual"
        value="{{ ncmDados.estadual }}"
      />
    </div>

    <div class="form-group inline-length-7">
      <label for="Municipal" class="disableMouse">Municipal</label>
      <input
        type="number"
        class="form-control w-100 disableMouse"
        name="Municipal"
        id="Municipal"
        value="{{ ncmDados.municipal }}"
      />
    </div>

    <div class="form-group inline-length-10">
      <label for="VigenciaInicio" class="disableMouse">Vigência inicio</label>
      <input
        type="datetime"
        class="form-control w-100 disableMouse"
        name="VigenciaInicio"
        id="VigenciaInicio"
        value="{{ ncmDados.vigenciaInicio }}"
      />
    </div>

    <div class="form-group inline-length-10">
      <label for="VigenciaFim" class="disableMouse">Vigência término</label>
      <input
        type="datetime"
        class="form-control w-100 disableMouse"
        name="VigenciaFim"
        id="VigenciaFim"
        value="{{ ncmDados.vigenciaFim }}"
      />
    </div>

    <div class="form-group inline-length-10">
      <label for="Chave" class="disableMouse">Chave</label>
      <input
        type="text"
        class="form-control w-100 disableMouse"
        name="Chave"
        id="Chave"
        value="{{ ncmDados.chave }}"
      />
    </div>

    <div class="form-group inline-length-10">
      <label for="Fonte" class="disableMouse">Fonte</label>
      <input
        type="text"
        class="form-control w-100 disableMouse"
        name="Fonte"
        id="Fonte"
        value="{{ ncmDados.fonte }}"
      />
    </div>
  </div>

  <a href="/cadastro/ncm" class="btn btn-secondary mt-4 m-1">Voltar</a>
</div>
