<div class="container p-5">
  <div class="row mb-5">
    <div class="card mx-auto" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">HOJE</p>
        <fa-icon [icon]="faMoneyBill" class="tright fa text-primary"></fa-icon>
        <h5 class="card-title">{{ placeholder }}</h5>
      </div>
    </div>

    <div class="card mx-auto" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">ESTE MÊS</p>
        <fa-icon [icon]="faMoneyBill" class="tright fa text-primary"></fa-icon>
        <h5 class="card-title">{{ placeholder }}</h5>
      </div>
    </div>

    <div class="card mx-auto" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">ESTE ANO</p>
        <fa-icon [icon]="faMoneyBill" class="tright fa text-primary"></fa-icon>
        <h5 class="card-title">{{ placeholder }}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card mx-auto" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">HOJE</p>
        <fa-icon [icon]="faMoneyBill" class="tright fa text-danger"></fa-icon>
        <h5 class="card-title">{{ placeholder }}</h5>
      </div>
    </div>

    <div class="card mx-auto" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">ESTE MÊS</p>
        <fa-icon [icon]="faMoneyBill" class="tright fa text-danger"></fa-icon>
        <h5 class="card-title">{{ placeholder }}</h5>
      </div>
    </div>

    <div class="card mx-auto" style="width: 18rem">
      <div class="card-body">
        <p class="card-text">ESTE ANO</p>
        <fa-icon [icon]="faMoneyBill" class="tright fa text-danger"></fa-icon>
        <h5 class="card-title">{{ placeholder }}</h5>
      </div>
    </div>
  </div>
</div>
