<!-- Modal Configuração -->
<div
  class="modal fade"
  id="configuracaoModal"
  tabindex="-1"
  aria-labelledby="configuracaoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      #configuracaoCategoria="ngForm"
      (ngSubmit)="onSubmitConfiguracao(configuracaoCategoria.value)"
      enctype="multipart/form-data"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Editar tipo de produto: {{ tipoProdutoAtual }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group" hidden>
            <label for="id">ID do tipo de produto</label>
            <input
              name="id"
              type="text"
              class="form-control mt-1"
              id="id"
              [value]="idAtual"
              [(ngModel)]="idAtual"
            />
          </div>
          <div class="form-group">
            <label for="descricao">Nome do tipo do produto</label>
            <input
              name="descricao"
              type="text"
              class="form-control mt-1"
              id="descricao"
              [value]="tipoProdutoAtual"
              ngModel
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
