/* You can add global styles to this file, and also import other style files */

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.bolder {
  font-weight: bolder;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.fontw-100 {
  font-weight: 100;
}

.fontw-300 {
  font-weight: 300;
}

.fontw-500 {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.tright {
  float: right;
}

.tleft {
  float: left;
}

.disableMouse {
  pointer-events: none;
}

.inline {
  width: 100%;
  display: inline-block;
}

.inline-length-1 {
  width: 5%;
  float: left;
  padding: 20px;
}

.inline-length-2 {
  width: 10%;
  float: left;
  padding: 20px;
}

.inline-length-3 {
  width: 15%;
  float: left;
  padding: 20px;
}

.inline-length-4 {
  width: 20%;
  float: left;
  padding: 20px;
}

.inline-length-5 {
  width: 25%;
  float: left;
  padding: 20px;
}

.inline-length-6 {
  width: 30%;
  float: left;
  padding: 20px;
}

.inline-length-7 {
  width: 35%;
  float: left;
  padding: 20px;
}

.inline-length-8 {
  width: 40%;
  float: left;
  padding: 20px;
}

.inline-length-9 {
  width: 45%;
  float: left;
  padding: 20px;
}

.inline-length-10 {
  width: 50%;
  float: left;
  padding: 20px;
}

.inline-length-11 {
  width: 55%;
  float: left;
  padding: 20px;
}

.inline-length-12 {
  width: 60%;
  float: left;
  padding: 20px;
}

.inline-length-13 {
  width: 65%;
  float: left;
  padding: 20px;
}

.inline-length-14 {
  width: 70%;
  float: left;
  padding: 20px;
}

.inline-length-15 {
  width: 75%;
  float: left;
  padding: 20px;
}

.inline-length-16 {
  width: 80%;
  float: left;
  padding: 20px;
}

.inline-length-17 {
  width: 85%;
  float: left;
  padding: 20px;
}

.inline-length-18 {
  width: 90%;
  float: left;
  padding: 20px;
}

.inline-length-19 {
  width: 95%;
  float: left;
  padding: 20px;
}

.inline-length-20 {
  width: 100%;
  float: left;
  padding: 20px;
}

.centerTable {
  text-align: center;
}

.custom-btn {
  border: none;
  border-radius: 4px;
}

.preview {
  width: 200px;
  height: 200px;
}

.btn-warningDark {
  background-color: #d8a50b !important;
  transition: 3s;
}

.btn-warningDark:hover {
  background-color: #c59506 !important;
}

.bg-dangerLight {
  background-color: #f5c2c7 !important;
  transition: 3s;
}

.bg-dangerLight:hover {
  background-color: #eea7ae !important;
}

.btn-dangerDark {
  background-color: #922731 !important;
  transition: 3s;
}

.btn-dangerDark:hover {
  background-color: #7c141f !important;
}

.bg-successLight {
  background-color: #c2f5c5 !important;
  transition: 3s;
}

.bg-successLight:hover {
  background-color: #a9e9ad !important;
}

body {
  overflow-x: hidden;
}
